@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&display=swap');

.register , .login{
    font-family: 'Baloo Bhaijaan 2', cursive;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    min-height:  100vh;
    
    
    .form{  
        max-width: 20rem;
        margin: auto;
        h3{
            word-spacing: 0.2rem;
        }
    }
    .loginImg{
        max-height:10rem;
        max-width: 30rem;
    }
    .link{
        word-spacing: 0.2rem;
        margin-top: 3%;
        text-decoration:none;
        color: rgb(67, 98, 236);
    }
    .link:hover{
        text-decoration: underline;
        cursor: pointer;
    }

    .orGoogle{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 800;
        margin: 5% 0 5% 0;
    }
    .Logo{
        width: 15rem;
        height: 15rem;
    }
}

.register{
    
    .paper{
        min-width: 60%;
        margin-top: 0.4%;
    }
    .loginImg{
        margin-left: 5%;
    }
    
    @media only screen and (max-device-width: 230px ) { 
        .loginImg{
            display: none;
        }
    }
    @media only screen and ( max-device-width:500px) { 
        .loginImg{
            display: none;
        }
        .paper{
            width: 100%;
            height: 100%;
        }
        .form{
            max-width: 40rem; 
            font-size: 3rem;
            max-width: 40rem; 
            .MuiAvatar-root{
                width: 5rem;
                height:5rem;
            }
            svg{
                font-size: 4rem;
            }
            .MuiInputLabel-root{
                font-size: 2rem;
            }
            .MuiInput-root{
                margin: 0;
                width: 120%;
                font-size: 4rem;
            }
            button{
                 width: 10rem;
                 min-height:5rem;
                 font-size: 2rem;
            }
            .login-with-google-btn{
                width:30rem;
                height: 5rem;
                font-size: 2rem;
                background-size:3.5rem;
            }
        }


    }
    @media only screen and (min-device-width: 500px) and(max-device-width:750px) {
        .loginImg{
            margin-top: 5%;
            max-height:30rem;
            max-width: 20rem;
        } 
        .paper{
            min-width: 90%;
            max-width: 100%;
        }
        .form{
            max-width: 40rem;
            .MuiAvatar-root{
                width: 5rem;
                height:5rem;
            }
            svg{
                font-size: 4rem;
            }
            .MuiInputLabel-root{
                font-size: 2rem;
            }
            .MuiInput-root{
                margin: 0;
                width: 120%;
                font-size: 4rem;
            }
        }    
    }
    @media only screen and (min-device-width: 750px) and (max-device-width:1000px) {
        .loginImg{
            max-height:20rem;
            max-width: 40rem;
        }   
        .form{
            max-width: 40rem;
            margin: 1rem;
        }    
    }
    @media only screen and (min-device-width: 1000px) { 
        .blocks{
            display: flex;
        }
        .paper{
           margin: 0;
        }
        .loginImg{
            
            max-height:20rem;
            max-width: 50rem;
        }
        .form{
            margin:auto 2rem;
            max-width: 30rem;
        }  
    }

    @media only screen and (min-device-width: 1350px) { 
        .blocks{
            display: flex;
        }
        .loginImg{
            max-height:40rem;
            max-width: 80rem;
        }
        .form{
            max-width: 20rem;
        }  
    }

}
.login{
       
    .paper{
        width:"60%";
    }

    @media only screen and (max-device-width: 230px ) { 
        .loginImg{
            display: none;
        }
    }
    @media only screen and ( max-device-width:500px) { 
        .Logo{
            width: 20rem;
            height: 20rem;
        }
        .loginImg{
            display: none;
        }
        .paper{
            width: 100%;
            height: 85%;
        }
        .form{
            font-size: 3rem;
            max-width: 40rem; 
            .MuiAvatar-root{
                width: 5rem;
                height:5rem;
            }
            svg{
                font-size: 4rem;
            }
            .MuiInputLabel-root{
                font-size: 2rem;
            }
            .MuiInput-root{
                width: 120%;
                font-size: 4rem;
            }
            button{
                 width: 10rem;
                 min-height:5rem;
                 font-size: 2rem;
            }
            .login-with-google-btn{
                width:30rem;
                height: 5rem;
                font-size: 2rem;
                background-size:3.5rem;
            }
        }

    }
    @media only screen and (min-device-width: 500px) and(max-device-width:750px) {
        .loginImg{
            max-height:40rem;
            max-width: 30rem;
        } 
        .paper{
            min-width: 80%;
        }
        .form{
            max-width: 40rem;
            font-size: 2rem;
            .MuiAvatar-root{
                width: 5rem;
                height:5rem;
            }
            svg{
                font-size: 4rem;
            }
            .MuiInputLabel-root{
                font-size: 2rem;
            }
            .MuiInput-root{
                width: 120%;
                font-size: 4rem;
            }
            button{
                width: 10rem;
                min-height:5rem;
                font-size: 2rem;
           }
           .login-with-google-btn{
               width:30rem;
               height: 5rem;
               font-size: 2rem;
               background-size:3.5rem;
           }
        }    
    }
    @media only screen and (min-device-width: 750px) {
        .loginImg{
            max-height:20rem;
            max-width: 40rem;
        }   
        .form{
            margin: 2rem;
            max-width: 40rem;
        }    
    }
    @media only screen and (min-device-width: 1000px) { 
        .blocks{
            display: flex;
        }
        .loginImg{
            max-height:30rem;
            max-width: 50rem;
        }
        .form{
            max-width: 30rem;
        }  
    }

    @media only screen and (min-device-width: 1350px) { 
        .blocks{
            display: flex;
        }
        .loginImg{
            max-height:35rem;
            max-width: 60rem;
        }
        .form{
            max-width: 20rem;
        }  
    }
}



.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
      
    cursor: pointer;
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
    
    &:hover {
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }
    
    &:active {
      background-color: #eeeeee;
    }
    
    &:focus {
      outline: none;
      box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
    }
    
    &:disabled {
      filter: grayscale(100%);
      background-color: #ebebeb;
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
      cursor: not-allowed;
    }
  }
  