
.Allgroups{ 
    width: 80%;
    margin: auto;
    .Divider{
        background-color: black;
    }
    .new-group{
        color: rgb(6, 96, 214);
        cursor: pointer;
    }
}                                                                                                                                                                   
