
.Allgroups{ 
    margin:auto;
    width: 60%;
    .List{
         width:100%;
         max-width: 360;
         background-color:'background.paper'; 
    }
    .Divider{
        background-color: black;
    }
}                                                                                                                                                                   
