
.Home{
    margin: auto;
    margin-top: 5rem;
    justify-content:center;
    text-align: center;

    .welcome{
        font-size: 4rem;
        margin-top:8rem;
        color: darkslategray;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .yourGroups{
        width: 60%;
        margin: auto;
        h1{
            color: rgb(10, 63, 45);
        }
        .groupList{
            min-height: 50vh;
            max-height: 50vh;
            overflow: auto;
        }
        .AddGroup{
            position: fixed;
            bottom: 7rem;
            margin: auto;
            margin-left: 25%;
        }
    }
    @media only screen  and (max-device-width:500px) {
        .welcome{
            font-size: 5    rem;
        }
        .yourGroups{
            width: 100%;
            h1{
                font-size: 4rem;
            }
        }
        .AddGroup{
            margin-top: 4rem;

            button{
                height: 10rem;
                width: 10rem;
            }
        }
    }
}