.lottie{
    display: flex;
    justify-content: center;
    text-align: center;
}
.lottie2{
    display: flex;
    justify-content: center;
}

.lottie3{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    background: rgba(245, 240, 240,0.5);
    height: 100vh;
}