.newGroup {

    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    text-align: center;
    margin-top: 7%;

    .imageSection {
        width: 20%;
    }

    .detailSection {
        margin-left: 20px;
        width: 20%;
        text-align: left;

        .simpleHead {
            color: rgb(120, 15, 218);
            font-size: 20px;
            font-weight: 200;
        }

        .hiddenDiv {
            height: 1;
        }

        .nameLabel {
            color: rgb(7, 35, 87);
            font-size: 30px;
            font-weight: 300;
        }

        .groupNameInput {
            height: 50px;
            width: 340px;
            font-size: 30px;
            border: 2px solid black;
            outline-color: rgb(39, 109, 156);
            border-radius: 5px;
        }

        .groupNameInput::placeholder {
            opacity: 0.4;
        }

        .groupNameInput:focus {
            border: 3px;
            opacity: 1;
        }

        .hr {
            margin-top: 7%;
            color: gray;
            opacity: 0.4;
        }


        .addBtn {
            margin-top: 5%;
            border: none;
            background: none;
            color: rgb(27, 134, 221);
            font-size: 17px;
            cursor: pointer;

        }

        .addBtn:hover {
            text-decoration: underline;
        }

        .HelpIcon {
            cursor:help;
            color: black;
        }

        .saveBtn {
            cursor: pointer;
            margin-top: 2%;
            margin-bottom: 10%;
            height: 45px;
            width: 90px;
            border-radius: 5%;
            background-color: rgb(230, 97, 8);
            border: none;
            color: rgb(255, 254, 254);
            font-weight: 900;
            font-size: 20px;
        }

        .debts {
            display: flex;
            margin: auto;
            align-items: center;
            justify-content: space-between;
        }

    }
}

.NewMember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    .memberphoto {
        border-radius: 50%;
        border: 1px solid black;
        height: 40px;
        width: 40px;
    }

    .InputAndName {
        width: 70%;

        .VerfiedName {
            width: 85%;
            letter-spacing: 1px;
            font-family: cursive;
            font-size: 17px;
            font-style: italic;
        }

        .inputSection {
            height: 1.4rem;
            width: 85%;
            font-size: 15px;
            border-width: 0 0 2px 0;
            border-color: rgb(23, 23, 24)
        }
        
        .inputSection:focus{
            outline: none;
            border-color: green
        }
    }

    .CrossIcon {

        .clearIcon {
            color: red;
        }

        .canDelete:hover {
            cursor: pointer;
            outline: 0;
            border-bottom: 2px solid red;
        }
        .disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

}